@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #3c3c3c;
}
.image {
  animation: image alternate 3s;
}
@keyframes image {
  0% {
    filter: blur(50px);
    filter: brightness(1);
  }
  10% {
    filter: blur(100px);
    filter: brightness(2);
  }
  100% {
    filter: blur(0px);
    filter: brightness(1);
  }
}
